@CHARSET "UTF-8";

body {
	background-color: #e6e6fa;

}

h2 {
	background-color: #87cefa;

}

.centering_parent {
    padding: 100px;              /* 余白指定 */
    height: 150px;              /* 高さ指定 */
}

.centering_item {
    width: 100px;               /* 幅指定 */
    height: 90px;               /* 高さ指定 */
    margin:  0 auto;            /* 中央寄せ */
}

#menu ul{
margin: 0;
padding: 0;
list-style: none;
}
#menu li{
display: inline;
padding: 0;
margin: 0;
}
#menu li a{
display: block;
border: 1px solid #9F99A3;
background-color: #EEEEEE;
padding: 3px 10px;
text-decoration: none;
color: #333;
width: 150px;
margin: 2px 0px;
text-align: left;
font-size: 14px;
}
#menu li a:hover{
border: 1px solid #8593A9;
background-color: #9EB7DD;
}
